<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoli.ucenter.ums.mapper.ChatRecordMapper">
    <sql id="defaultSql">
        select `id`,user_id,friend_id,has_read,`delete`,text_msg,image_msg,`type`,msg_type,create_time,update_time from ums_chat_record
    </sql>
    <select id="findByUserAndFriendId" resultType="com.baoli.ums.entity.ChatRecord">
        <include refid="defaultSql"></include>
        WHERE (user_id = #{userId} and friend_id = #{friendId}) or (user_id = #{friendId} and friend_id =
        #{userId}) ORDER BY create_time asc
    </select>
    <select id="findLastByUserAndFriendId" resultType="com.baoli.ums.entity.ChatRecord">
        <include refid="defaultSql"></include>
        WHERE user_id = #{friendId} and friend_id = #{userId} ORDER BY create_time DESC LIMIT 1;
    </select>
</mapper>
